import { ChangeDetectionStrategy, Component } from '@angular/core';
import { Example } from '@pebula/apps/shared';

import { Hero } from './model';

@Component({
  selector: '<%= selector %>',
  templateUrl: './<%= componentFile(name) %>.html',
  styleUrls: ['./<%= componentFile(name) %>.<%= style %>'],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
@Example('<%= selector %>', { title: '<%= title %>' })
export class <%= componentClassName(name) %> {
  model = new Hero();
}
