.form-splitting-form {
  display: block;
  margin: 24px auto;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.red-super-power-box {
  padding: 25px;
  margin: 15px;
  background-color: #cd5c5c;
}

.red-super-power-title {
  text-align: center;
  color: #cd5c5c;
}
